[submodule "BasicExample/lib/TeensyOS"]
	path = BasicExample/lib/TeensyOS
	url = git@github.com:william-redenbaugh/TeensyOS.git
[submodule "TeensyOSTesting/lib/TeensyOS"]
	path = TeensyOSTesting/lib/TeensyOS
	url = git@github.com:william-redenbaugh/TeensyOS.git
[submodule "TeensyOSTesting/src/ArduinoCHAL"]
	path = TeensyOSTesting/src/ArduinoCHAL
	url = git@github.com:william-redenbaugh/ArduinoCHAL.git
